@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&family=Source+Sans+Pro:wght@400;600;700;900&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif !important;
}
html,
body {
    background-color: #F3F6FC !important;
    width: 100%;
    height: 100%;
    position: relative;
    color: #000000 !important;
}
.container-fluid {
    margin: 0 !important;
    padding: 0 !important;
}
#collapsibleNavId{
    display: none ;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 30;
    top: 0;
    background: #F3F6FC !important;
    padding: 1% 3%;
    right: 0;
 }
 .shownavbarmobile{
     display: block !important;
    animation-name: navbaranim;
    animation-duration:  0.5s;
    animation-fill-mode: forwards;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 30;
    top: 0;
    background: #F3F6FC !important;
    padding: 1% 3%;
    right: 0;
 }
 .hidenavbar{
     width: 100vw;
     height: 100vh;
     z-index: 30;
     top: 0;
     background: #F3F6FC !important;
     padding: 1% 3%;
     right: 0;
     animation-name: navbarclose;
     animation-duration:  0.5s;
     animation-fill-mode: forwards;
 }
 @keyframes navbaranim {
     from {
        width:0;
     }
     to {
         width: 100%;
     }
 }
 @keyframes navbarclose {
     from {
        width:100% !important;
     }
     to {
         width: 0;
         display: none !important;
         left: 800px;
     }
 }
 #navbar {
    display: none;
    background: transparent;
    padding: 2% 4% 0;
}
 .navbar-light .navbar-nav .nav-link {
     color: #3C63B0 !important;
     font-weight: bold;
     font-size: 18px;
 }
 .navbar-logo {
     width: 80%;
 }
.account-navbar {
    display: flex;
}
.account-navbar .user-image img {
    width: 30px;
    border-radius: 50%;
    margin: 0 10px 0;
}
.account-navbar .user-name {
    font-weight: 600;
    margin: 0 15px 0 8px;
    font-size: 14px;
}
.account-navbar .down-arrow {
    width: 10px;
    height: 100%;
    margin: 10px 10px 0 0;
}
.account-navbar .notification-icon {
    width: 25px;
    height: 100%;
    margin: 0 10px 0;
}
.account-navbar .setting-icon {
    width: 25px;
    height: 100%;
}
.search-container2 {
    width: 50%;
    height: 40px;
    background-color: #ffffff;
    border-radius: 5px;
    display: none;
    align-items: center;
    padding: 0 3%;
    margin: 25px 0 20px;
}
.search-container2 input {
    width: 100%;
    font-size: 14px;
    border: none;
    outline: none;
}
.search-container2 input::placeholder {
    color: #D0CECE;
    font-size: 12.5px;
}
.search-container2 .search-icon {
    width: 20px;
    margin-right: 5px;
}
.collapse-account {
    width: 100%;
    display: flex;
}
.collapse-account h4:first-child {
    width: 50%;
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
}
.collapse-account .account-icons {
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.collapse-account .account-icons .user-image {
    width: 38px;
    height: 70%;
    background-color: #3C63B0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-right: 10px;
    color: green;
    padding: 5px;
}
.collapse-account .account-icons .user-image img {
    width: 25px;
    border-radius: 50%;
}
.collapse-account .account-icons .user-name {
    font-weight: 600;
    margin: 0 15px 0 8px;
    font-size: 14px;
}
.collapse-account .account-icons .down-arrow {
    width: 10px;
}
.collapse-account .account-icons .notification-icon {
    width: 20px;
    margin: 0 28px 0 33px;
}
.collapse-account .setting-icon {
    width: 20px;
}
.sidebar {
    background-color: #3C63B0;
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar-collapse {
    background-color: #3C63B0;
    width: 6%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    display: none;
}
.sidebar .brand-logo {
    margin: 20% 0 20% !important;
}
.sidebar-collapse .brand-logo {
    margin: 25% 0 30% !important;
}
.sidebar .menu,
.sidebar-collapse .menu {
    width: 100%;
}
.sidebar .menu ul,
.sidebar-collapse .menu ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.sidebar .menu ul li,
.sidebar-collapse .menu ul li {
    width: 90%;
    list-style-type: none;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-left: 23px;
}
.sidebar .menu ul li a,
.sidebar-collapse .menu ul li a {
    text-decoration: none;
    display: block;
    padding: 12px 20px;
    color: #ffffff;
    display: flex;
    align-items: center;
}
.sidebar .menu ul li a .sidebar-icon,
.sidebar-collapse .menu ul li a .sidebar-icon {
    font-size: 25px;
}
.sidebar .menu ul li .active-menu,
.sidebar-collapse .menu ul li .active-menu,
.sidebar .menu ul li a:hover,
.sidebar-collapse .menu ul li a:hover {
    background-color: #F3F6FC;
    color: #3C63B0;
    border-radius: 50px 0 0 50px;
}
.course {
    padding: 2% 3% 0;
    overflow: auto;
    margin: 0;
    width: 90%;
}
.course .first-container {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
}
.course .first-container p:first-child {
    font-weight: bold;
    width: 75%;
    font-size: 22px;
    margin-top: 10px;
}
.course div:first-child .account-icons {
    width: 50%;
    margin: 0;
    height: 100%;
}
.account-icons {
    width: 100%;
    height: 50px;
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.account-icons .user-image {
    width: 38px;
    height: 90%;
    background-color: #3C63B0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-right: 10px;
    color: green;
}
.account-icons .user-image img {
    width: 25px;
    border-radius: 50%;
}
.account-icons  .user-name  {
    font-weight: 500;
    margin: 0 15px 0 8px;
    font-size: 14px;
}
.account-icons  .down-arrow {
    width: 10px;
}
.account-icons .notification-icon {
    width: 20px;
    margin: 0 28px 0 33px;
}
.setting-icon {
    width: 20px;
}
.second-container {
    width: 100%;
    height: 40px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.second-container .course-filter {
    width: 60%;
    height: 100%;
    display: flex;
    align-content: center;
}
.second-container .course-filter ul li {
    list-style-type: none;
    display: inline;
    padding: 9px 15px;
    font-size: 15px;
    font-weight: bold;
}
.second-container .course-filter ul li a {
    text-decoration: none;
    color: #000000;
}
.sidebar .menu ul li a .sidebar-icon {
    font-size: 25px;
}
.second-container .course-filter ul li:first-child {
    background-color: #ffffff;
    border-bottom: 4px solid #3C63B0;
}
.second-container .course-filter ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    height: 100%;
    padding-left: 0;
    border-bottom: 2px solid rgba(196, 196, 196, 0.5);;
}
.second-container .course-filter ul li:hover {
    background-color: #ffffff;
    border-bottom: 4px solid #3C63B0;
    cursor: pointer;
}
 .search-container {
    width:40%;
    height: 40px;
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0 2%;
}
.search-container .search-icon {
    width: 20px;
    margin-right: 10px;
}
.search-container input {
    width: 100%;
    font-size: 14px;
    border: none;
    outline: none;
}
 .search-container input::placeholder {
    color: #D0CECE;
}
.courses-list {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    margin: 25px 0 50px !important;
    border-radius: 10px;
    padding: 3%;
}
.courses-list .parent {
    height: auto;
    background-color: #F3F6FC;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 0 1% 2% 2%;
    margin: 0 40px 40px 40px;
    color: #000000;
}
.courses-list  .badge {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
 .badge .badge-icon {
    color: rgba(238, 172, 3, 0.55);
    font-size: 30px;
}
.course-logo img {
    width: 40px;
}
.courses-list .parent  p {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.5;
    margin: 10px 0 15px 0;
    height: 60px;
}
.courses-list .parent div:last-child {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
}
.courses-list .parent div:last-child .chat-icon {
    font-size: 18px;
   color: #3C63B0;
}
.clock-icon {
    font-size: 18px;
    color: #3C63B0;
    margin-left:30px;
}
.courses-list .parent div:last-child .text1 {
    font-size: 14px ;
    color: rgba(0, 0, 0, 0.8);
    margin-left: 10px;
    opacity: 0.6;
    font-weight:bold;
} 
.pop-up {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center; 
    align-items: center;
    z-index: 10;
}
.pop-up .description-div {
    width: 55%;
    height: auto;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 2%;
    display: flex;
}
.pop-up .description-div .desc-image {
    width: 40%;
    background: url("../images/bootcamp logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.pop-up .description-div .desc-content {
    width: 60%;
    height: auto;
    padding-left: 5%;
    color: #000000;
}
.course-description-text1 {
    width: 100%;
    height: 25px;
    display: flex;
    color: #000000;
    margin-bottom: 10px;
}
.course-description-text1  p:first-child {
    width: 95%;
    height: 100%;
    font-size: 18px;
    font-weight:bold;
}
.course-description-text1 p:last-child {
    width: 5%;
    height: 100%;
}
.desc-content .desc-info {
    font-size: 14px;
    font-weight: bold;
}
.course-list {
    font-size: 13.5px;
    font-weight: bold;
    margin-bottom: 10px;
}
.desc-content ul {
    font-size: 14px;
    margin: 0 0 2px;
}
.desc-content ul li {
    line-height: 1.6;
    font-weight: bold;
}
.desc-content button {
    width: 80%;
    padding: 2% 0;
    border: 1px solid #3C63B0;
    background: #ffffff;
    outline: none;
    margin: 20px 0 0;
    border-radius: 5px;
    font-weight: bold;
    color: #3C63B0;
}
.desc-content button:hover {
    background: #3C63B0;
    color: #ffffff;
}
@media screen and (max-width:1400px) {
    body {
        overflow: hidden;
    }
    .courses-list .parent {
        width: 30% !important;
        margin: 10px;
    }
}
@media screen and (max-width: 1223px) {
    .sidebar {
        display: none;
    }
    .sidebar-collapse {
        display: flex;
    }
    .course {
        width: 94%;
    }
    .sidebar-collapse .brand-logo {
        margin: 45% 0 50% !important;
    }
    .sidebar-collapse .menu ul li {
        margin-left: 8px;
    }
    .sidebar-collapse .menu ul li a {
        text-decoration: none;
        display: inline-block;
        color: #ffffff;
        font-size: 1px !important;
    }
    .sidebar-collapse .menu ul li .active-menu {
        background-color: #F3F6FC;
        color: #3C63B0;
        border-radius: 50px 0 0 50px;
    }
}
@media screen and (max-width: 1100px) {
    .sidebar-collapse {
        width: 7%;
    }
    .sidebar-collapse .menu ul li {
        margin-left: 15px;
    }
    .course {
        width: 93%;
    }
}
@media screen and (max-width: 1080px) {
    .wishlist-container .parent-div .parent-child2 .last-element .rate-btn {
        width: 25%;
    }
    .description-div {
        width: 70% !important;
        height: 68%;
    }
}
@media screen and (max-width: 995px) {
    .sidebar-collapse {
        width: 8%;
    }
    .sidebar-collapse .menu ul li {
        margin-left: 20px;
    }
    .course {
        width: 92%;
    }
    .courses-list .parent div:last-child .text1 {
        margin-left: 0;
    }
}
@media screen and (max-width: 991px) {
    .account-icons {
        display: none;
    }
    .search-container2 {
        display: flex;
    }
    .collapse-account .account-icons {
        display: flex;
    }
    .course {
    padding: 0 5% 3%;
    width: 100%;
    }
    .search-container {
        display: none;
    }
    .second-container .course-filter {
        width: 100%;
    }
    .search-container2 {
        width: 60%;
    }
    .collapse-account {
        margin: 20px 0;
    }
    .search-div {
        height: 1px;
    }
    .courses-list .parent {
        width: 46% !important;
    }
}
@media screen and (max-width: 840px) {
    .description-div {
        width: 80% !important;
        height: 50% !important;
    }
}
@media  screen and (max-width: 770px) {
    .sidebar-collapse {
      display: none;
    }
    .dashboard {
        width: 100%;
        padding: 0 5% 4%;
    }
    #navbar {
        display: flex;
    }
    .container-fluid {
        overflow: hidden;
    }
   .dashboard div:first-child h4 {
    margin: 20px 0 20px 0 !important;
   }
   .collapse-account .account-icons {
       display: none;
   }
   .search-container2 {
    width: 80%;
}
.second-container .course-filter ul li {
    font-size: 14px;
}
.second-container .course-filter ul {
    margin-bottom: 0;
}
.pop-up .description-div {
    height: 30% !important;
}
.navbar-light .navbar-nav .nav-link {
    font-size: 25px;
    margin-bottom: 5px;
}
}
@media screen and (max-width: 710px) {
    .wishlist-container .parent-div .parent-child2 .parent-child2-title {
        font-size: 15px;
    }
    .wishlist-container .parent-div .parent-child2 .last-element .rate-btn {
        width: 25%;
    }
    .star-container {
        width: 75%;
    }
    .pop-up .description-div {
        height: auto !important;
    }
}
@media screen and (max-width: 672px) {
    .courses-list .course-item  {
        width: 100%;
        margin: 0 30px 30px 0;
        padding: 3%;
    }
    .second-container .course-filter ul li {
        padding: 8px 10px;
    }
    .second-container {
        display: flex;
        margin: 0px 0 10px;
    }
    .write-note, .intro, .last-input {
        width: 70%;
    }
    .intro p:last-child { 
    width: 20%;
    }
}
@media screen and (max-width:680px) {
    .description-div {
        width: 90% !important;
        height: 45% !important;
    }
}
@media screen and (max-width: 630px) {
    .wishlist-container .parent-div .parent-child2 .parent-child2-title {
        font-size: 13px;
    }
    .wishlist-container .parent-div .parent-child2 .last-element .rate-btn {
        width: 30%;
        font-size: 11px;
    }
    .star-container {
        width: 70%;
    }
    .search-container2 {
        width: 85%;
    }
    .write-note, .intro, .last-input {
        width: 90%;
    }
    .course-title {
        font-size: 18px;
    }
    .courses-list .parent {
        width: 100% !important;
        margin: 10px 0 20px 0;
        padding: 4%;
    }
    .courses-list {
        padding: 2% 4%;
    }

    .pop-up .description-div .desc-image {
        width: 30%;
    }
    .pop-up .description-div .desc-content {
        width: 70%;
    }
}
@media screen and (max-width:590px) {
    .pop-up .description-div .desc-image {
        display: none;
        width: 100% !important;
        height: 200px !important;
        margin: 10px auto 30px;
    }
    .pop-up .description-div .desc-content {
        width: 100% !important;
    }
    .desc-content button { 
        width: 100% !important;
    }
    .pop-up .description-div {
        height: auto !important;
        padding: 4% 3% !important;
        flex-direction:column ;
    }
    .pop-up {
        height: 100vh !important;
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 22px;
        margin-bottom: 5px;
    }
}
@media screen and (max-width: 390px) {
    .wishlist-container .parent-div .parent-child1 {
        display: none;
    }
    .wishlist-container .parent-div .parent-child2 {
        width: 100%;
        padding: 1%;
    }
}