@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&family=Source+Sans+Pro:wght@400;600;700;900&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif !important;
}
html,
body {
    background-color: #F3F6FC !important;
    width: 100%;
    height: 100%;
    color: #000000 !important;
}
.container-fluid {
    margin: 0 !important;
    padding: 0 !important;
}
#collapsibleNavId{
    display: none ;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 30;
    top: 0;
    background: #F3F6FC !important;
    padding: 1% 3%;
    right: 0;
 }
 .shownavbarmobile{
     display: block !important;
    animation-name: navbaranim;
    animation-duration:  0.5s;
    animation-fill-mode: forwards;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 30;
    top: 0;
    background: #F3F6FC !important;
    padding: 1% 3%;
    right: 0;
 }
 .hidenavbar{
     width: 100vw;
     height: 100vh;
     z-index: 30;
     top: 0;
     background: #F3F6FC !important;
     padding: 1% 3%;
     right: 0;
     animation-name: navbarclose;
     animation-duration:  0.5s;
     animation-fill-mode: forwards;
 }
 @keyframes navbaranim {
     from {
        width:0;
     }
     to {
         width: 100%;
     }
 }
 @keyframes navbarclose {
     from {
        width:100% !important;
     }
     to {
         width: 0;
         display: none !important;
         left: 800px;
     }
 }
 #navbar {
     display: none;
     background: transparent;
     padding: 2% 4% 0;

 }
 .navbar-light .navbar-nav .nav-link {
     color: #3C63B0 !important;
     font-weight: bold;
     font-size: 18px;
 }
 .navbar-logo {
     width: 80%;
 }
.account-navbar {
    display: flex;
}
.account-navbar .user-image img {
    width: 30px;
    border-radius: 50%;
    margin: 0 10px 0;
}
.account-navbar .user-name {
    font-weight: 600;
    margin: 0 15px 0 8px;
    font-size: 14px;
}
.account-navbar .down-arrow {
    width: 10px;
    height: 100%;
    margin: 10px 10px 0 0;
}
.account-navbar .notification-icon {
    width: 25px;
    height: 100%;
    margin: 0 10px 0;
}
.account-navbar .setting-icon {
    width: 25px;
    height: 100%;
}
.search-container2 {
    width: 50%;
    height: 40px;
    background-color: #ffffff;
    border-radius: 5px;
    display: none;
    align-items: center;
    padding: 0 3%;
    margin: 25px 0 20px;
}
.search-container2 input {
    width: 100%;
    font-size: 14px;
    border: none;
    outline: none;
}
.search-container2 input::placeholder {
    color: #D0CECE;
    font-size: 12.5px;
}
.search-container2 .search-icon {
    width: 20px;
    margin-right: 5px;
}
.collapse-account {
    width: 100%;
    display: flex;
}
.collapse-account h4:first-child {
    width: 50%;
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
}
.collapse-account .account-icons {
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.collapse-account .account-icons .user-image {
    width: 38px;
    height: 70%;
    background-color: #3C63B0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-right: 10px;
    color: green;
    padding: 5px;
}
.collapse-account .account-icons .user-image img {
    width: 25px;
    border-radius: 50%;
}
.collapse-account .account-icons .user-name {
    font-weight: 600;
    margin: 0 15px 0 8px;
    font-size: 14px;
}
.collapse-account .account-icons .down-arrow {
    width: 10px;
}
.collapse-account .account-icons .notification-icon {
    width: 20px;
    margin: 0 28px 0 33px;
}
.collapse-account .setting-icon {
    width: 20px;
}
.sidebar {
    background-color: #3C63B0;
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar-collapse {
    background-color: #3C63B0;
    width: 6%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    display: none;
}
.sidebar .brand-logo {
    margin: 20% 0 20% !important;
}
.sidebar-collapse .brand-logo {
    margin: 25% 0 30% !important;
}
.sidebar .menu,
.sidebar-collapse .menu {
    width: 100%;
}
.sidebar .menu ul,
.sidebar-collapse .menu ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.sidebar .menu ul li,
.sidebar-collapse .menu ul li {
    width: 90%;
    list-style-type: none;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-left: 23px;
}
.sidebar .menu ul li a,
.sidebar-collapse .menu ul li a {
    text-decoration: none;
    display: block;
    padding: 12px 20px;
    color: #ffffff;
    display: flex;
    align-items: center;
}
.sidebar .menu ul li a .sidebar-icon,
.sidebar-collapse .menu ul li a .sidebar-icon {
    font-size: 25px;
}
.sidebar .menu ul li .active-menu,
.sidebar-collapse .menu ul li .active-menu,
.sidebar .menu ul li a:hover,
.sidebar-collapse .menu ul li a:hover {
    background-color: #F3F6FC;
    color: #3C63B0;
    border-radius: 50px 0 0 50px;
}
.course {
    padding: 2% 3% 0;
    overflow: auto;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    width: 90%;
}
.course .first-container {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
}
.course .first-container p:first-child {
    font-weight: bold;
    width: 75%;
    font-size: 22px;
    margin-top: 10px;
}
.course div:first-child .account-icons {
    width: 50%;
    margin: 0;
    height: 100%;
}
.account-icons {
    width: 100%;
    height: 50px;
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.account-icons .user-image {
    width: 38px;
    height: 90%;
    background-color: #3C63B0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-right: 10px;
    color: green;
}
.account-icons .user-image img {
    width: 25px;
    border-radius: 50%;
}
.account-icons .user-name {
    font-weight: 500;
    margin: 0 15px 0 8px;
    font-size: 14px;
}
.account-icons .down-arrow {
    width: 10px;
}
.account-icons .notification-icon {
    width: 20px;
    margin: 0 28px 0 33px;
}
.setting-icon {
    width: 20px;
}
.second-container {
    width: 100%;
    height: 40px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.second-container .course-filter {
    width: 60%;
    height: 100%;
    display: flex;
    align-content: center;
}
.second-container .course-filter ul li {
    list-style-type: none;
    display: inline;
    padding: 9px 15px;
    font-size: 17px;
    font-weight: bold;
}
.second-container .course-filter ul li a {
    text-decoration: none;
    color: #000000;
}
.sidebar .menu ul li a .sidebar-icon {
    font-size: 25px;
}
.second-container .course-filter ul li:nth-child(3) {
    background-color: #ffffff;
    border-bottom: 4px solid #3C63B0;
}
.second-container .course-filter ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    height: 100%;
    padding-left: 0;
    border-bottom: 2px solid rgba(196, 196, 196, 0.5);
    ;
}
.second-container .course-filter ul li:hover {
    background-color: #ffffff;
    border-bottom: 4px solid #3C63B0;
    cursor: pointer;
}
.search-container {
    width: 40%;
    height: 40px;
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0 2%;
}
.search-container .search-icon {
    width: 20px;
    margin-right: 10px;
}
.search-container input {
    width: 100%;
    font-size: 14px;
    border: none;
    outline: none;
}
.search-container input::placeholder {
    color: #D0CECE;
}
.wishlist-container {
    margin: 20px 0 0 !important;
    color: #000000;
}
.wishlist-container .parent-div {
    margin: 0 0 30px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 1.3%;
    display: flex;
}
.wishlist-title {
    font-size: 18px;
    font-weight: bold;
    margin: 30px 0 0;
    opacity: 0.6;
}
.wishlist-container .parent-div .parent-child1{
    width: 17%;
    background-color: red;
    background: url("../images/wishlist user icon.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.wishlist-container .parent-div .parent-child2 {
    padding-left: 15px;
    display: flex;
    font-family: 'Source Sans Pro', sans-serif !important;
    flex-direction: column;
}
.wishlist-container .parent-div .parent-child2 .parent-child2-title {
    font-size: 17px;
    font-weight: bold;
    margin: 0;
}
.wishlist-container .parent-div .parent-child2 .parent-child2-info {
    font-size: 13px;
    font-weight: bold;
    opacity: 0.7;
    margin: 0 0 5px;
}
.wishlist-container .parent-div .parent-child2 .last-element {
    width: 100%;
    height: auto;
    display: flex;
}
.wishlist-container .parent-div .parent-child2 .last-element .rate-btn {
    width: 18%;
    background-color: #F4B15A;
    font-size: 12px;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    height: 50%;
}
.star-container {
    width: 82%;
    height: 100%;
    padding-left: 4%;
}
.star-text1  {
    height: 20px;
    margin: 0;
    display: flex;
    align-items: center;
    padding: 0;
    font-size: 11.5px;
    color: #F19700;
    font-weight: bold;
}
.star-text2 {
    height: auto;
    display: flex;
    align-items: center;
    padding: 0;
    font-weight: bold;
    margin: 0;
} 
.star-text2 p {
    margin: 0 8px 0 0;
}
.star-text2 del:nth-child(2){
    font-size: 14px !important;
    opacity: 0.5;
}
.star-text1 p:nth-child(2) {
    margin-bottom: 0;
}
.star-text1 .rate-text {
font-size: 14px !important;
margin: -2px 6px 0 0 !important;
}
.students-number {
    font-size: 14px;
    opacity: 0.5;
    color: #000000;
    margin: -2px 6px 0 10px !important;
}
.star-icon {
    margin-top:-4px !important;
}
@media screen and (max-width:1400px) {
    body {
        overflow: hidden;
    }
}
@media screen and (max-width: 1223px) {
    .sidebar {
        display: none;
    }
    .sidebar-collapse {
        display: flex;
    }
    .course {
        width: 94%;
    }
    .sidebar-collapse .brand-logo {
        margin: 45% 0 50% !important;
    }
    .sidebar-collapse .menu ul li {
        margin-left: 8px;
    }
    .sidebar-collapse .menu ul li a {
        text-decoration: none;
        display: inline-block;
        color: #ffffff;
        font-size: 1px !important;
    }
    .sidebar-collapse .menu ul li .active-menu {
        background-color: #F3F6FC;
        color: #3C63B0;
        border-radius: 50px 0 0 50px;
    }
}
@media screen and (max-width: 1100px) {
    .sidebar-collapse {
        width: 7%;
    }
    .sidebar-collapse .menu ul li {
        margin-left: 15px;
    }
    .course {
        width: 93%;
    }
}
@media screen and (max-width: 1070px) {
    .courses-list .course-item {
        width: 45%;
    }
}
@media screen and (max-width: 995px) {
    .sidebar-collapse {
        width: 8%;
    }
    .sidebar-collapse .menu ul li {
        margin-left: 20px;
    }
    .course {
        width: 92%;
    }
}
@media screen and (max-width: 991px) {
    .account-icons {
        display: none;
    }
    .search-container2 {
        display: flex;
    }
    .collapse-account .account-icons {
        display: flex;
    }
    .course {
    padding: 0 2% 10% 3%;
    width: 100%;
    }
    .search-container {
        display: none;
    }
    .second-container .course-filter {
        width: 100%;
    }
    .search-container2 {
        width: 60%;
    }
    .collapse-account {
        margin: 20px 0;
    }
}
@media  screen and (max-width: 770px) {
    .sidebar-collapse {
      display: none;
    }
    .dashboard {
        width: 100%;
        padding: 0 5% 4%;
    }
    #navbar {
        display: flex;
    }
    .container-fluid {
        overflow: hidden;
    }
   .dashboard div:first-child h4 {
    margin: 20px 0 20px 0 !important;
   }
   .collapse-account .account-icons {
       display: none;
   }
   .search-container2 {
    width: 80%;
}
.second-container .course-filter ul li {
        font-size: 16px;
        padding: 5px 20px;
}
.second-container .course-filter ul {
    margin-bottom: 0;
}
.navbar-light .navbar-nav .nav-link {
    font-size: 25px;
    margin-bottom: 5px;
}
}
@media screen and (max-width: 710px) {
    .wishlist-container .parent-div .parent-child2 .parent-child2-title {
        font-size: 15px;
    }
    .wishlist-container .parent-div .parent-child2 .last-element .rate-btn {
        width: 25%;
    }
    .star-container {
        width: 75%;
    }
}
@media screen and (max-width: 672px) {
    .courses-list .course-item  {
        width: 100%;
        margin: 0 30px 30px 0;
        padding: 3%;
    }
    .second-container .course-filter ul li {
        padding: 8px 10px;
    }
    .second-container {
        display: flex;
        margin: 0px 0 10px;
    }
    .wishlist-container {
        margin-bottom: 50px !important;
    }
}
@media screen and (max-width: 630px) {
    .wishlist-container .parent-div .parent-child2 .parent-child2-title {
        font-size: 13px;
    }
    .wishlist-container .parent-div .parent-child2 .last-element .rate-btn {
        width: 30%;
        font-size: 11px;
    }
    .star-container {
        width: 70%;
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 22px;
        margin-bottom: 5px;
    }
}
@media screen and (max-width: 390px) {
    .wishlist-container .parent-div .parent-child1 {
        display: none;
    }
    .wishlist-container .parent-div .parent-child2 {
        width: 100%;
        padding: 1%;
    }
    .second-container .course-filter ul li {
        font-size: 14px;
    }
}